<h1 *ngIf="showTitle">Listado de heroes</h1>
<br>
<ul>
    <li *ngFor="let hero of heroes">
        {{hero.name}}
        <br>
        <ng-container *ngIf="hero.powers.lenght > 4">Tiene más de 4 superpoderes</ng-container>
        <br>
        <p>
            Pelo
            <ng-container [ngSwitch]="hero.hair">
                <ng-template *ngSwitchCase="brown">Marrón</ng-template>
                <ng-template *ngSwitchCase="blond">Rubio</ng-template>
                <ng-template *ngSwitchCase="black">Negro</ng-template>
                <ng-template *ngSwitchDefault>Calvo</ng-template>
            </ng-container>
        </p>
    </li>
</ul>